#service {
    display: flex;
    flex-direction: column;
}

.cards-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.main-title {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px;
}

.service-cards {
    width: 300px;
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    margin: 18px;
    padding: 15px;
    border: 1px grey;
    border-radius: 4px;
    box-shadow: 3px 3px rgb(235, 232, 232), 0 0 9px rgb(235, 232, 232);
}

.icons {
    color: #fc5968;
    margin-top: 0px;
    padding: 2px;
}

.service-text {
    font-size: 14px;
    color: darkgray;
}

/* .service-title {
    font-size: 18px;
    color: rgb(66, 64, 64);
} */